/* ACTIVITIES */

.header-activities {
    padding: 40px;
    background-image: url("../images/header-two-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.activities-section {
    margin-bottom: 105px;
}

.activities_card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 14px;
}

.activities_card-item {
    position: relative;
    width: 250px;
    height: 455px;
    overflow: hidden;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 40px;
}

.activities_card-item-img {
    width: 250px;
    height: 252px;
    opacity: 0.6;
}

.activities_card-item-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.activities_card-item-top {
    position: relative;
}


.activities_card-item-title {
    position: absolute;
    top: 192px;
    left: 16px;
    font-weight: 700;
    font-size: 34.5148px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.activities_card-item-box {
    padding: 15px 17px 0px 17px;
}

.acti_ca {
    display: flex;
    justify-content: space-between;
}

.acti_ca:nth-child(3) {
    margin-bottom: 5px;
}

.acti_ca p {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.5;
}

.acti_ca-btn {
    display: block;
    margin: 0 auto;
    padding: 14px 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #1E88E5;
    border-radius: 8px;
    border: none;
}

.no-active {
    background: rgba(30, 136, 229, 0.2);
}