.avatar_group {
    display: flex;
    align-items: center;
    position: relative;
}

.avatar_group.left {
    justify-content: start;
    width: 115px;
    height: 42px;
}

.avatar_group span {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    /* border: 2px solid #fff; */
}

.avatar_group span img {
    width: 100%;
    height: 100%;
}

.avatar_group.left .avatar_group_5 {
    left: 0;
    opacity: 0.5;
}

.avatar_group.left .avatar_group_4 {
    left: 10px;
    opacity: 0.5;
    z-index: 1;
}

.avatar_group.left .avatar_group_3 {
    left: 25px;
    z-index: 2;
}

.avatar_group.left .avatar_group_2 {
    left: 40px;
    z-index: 3;
}

.avatar_group.left .avatar_group_1 {
    left: 67.5px;
    z-index: 4;
}

.avatar_group.left .avatar_group_2,
.avatar_group.left .avatar_group_3,
.avatar_group.left .avatar_group_4,
.avatar_group.left .avatar_group_5 {
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 53.57%);
}

.avatar_group.center {
    justify-content: center;
    width: 115px;
    height: 60px;
    margin: 0 auto;
}

.avatar_group.center span {
    border-width: 2.5px;
    top: 50%;
    transform: translateY(-50%);
}

.avatar_group.center .avatar_group_5 {
    width: 47.5px;
    height: 47.5px;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}

.avatar_group.center .avatar_group_4 {
    width: 47.5px;
    height: 47.5px;
    right: 0;
    opacity: 0.2;
    z-index: 1;
}

.avatar_group.center .avatar_group_3 {
    width: 51.5px;
    height: 51.5px;
    left: 14px;
    opacity: 0.5;
    border-width: 2.5px;
    z-index: 2;
}

.avatar_group.center .avatar_group_2 {
    width: 51.5px;
    height: 51.5px;
    right: 14px;
    opacity: 0.5;
    z-index: 2;
}

.avatar_group.center .avatar_group_1 {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 57.5px;
    height: 57.5px;
    z-index: 3;
}

/* Header User*/
.header_activities {
    position: relative !important;
}

.user-nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
    gap: 0px 27px;
}

.user-nav__btn {
    position: relative;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.user-nav__notification {
    position: absolute;
    top: -3px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 8.4px;
    line-height: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #2AA2AA;
}

.dropdown-menu__user-nav {
    position: absolute !important;
    top: -15px !important;
    left: -150px !important;
    width: 203px !important;
    min-height: 410px;
    padding: 71px 31px 27px 25px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1 !important;
}

.dropdown-menu__user-link {
    display: flex !important;
    align-items: center !important;
}

.dropdown-menu__user-item+.dropdown-menu__user-item {
    margin-top: 28px;
}

.dropdown-menu__user-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 8px;
    color: #000000;
    cursor: pointer;
}

/* *Hero Img */

.hero__image-v2 {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url("../images/header-two-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px !important;
    opacity: 0.2;
}

.hero__lins {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 550px;
    background: url("../images/header-lins.svg") no-repeat;
    z-index: 1 !important;
}

.hero_user {
    display: flex;
    align-items: center;
    margin-left: 80px;
    padding-top: 57px;
}

.hero_user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.hero_user-avatar img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.hero_user-edit {
    position: absolute;
    top: 0px;
    right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #2AA2AA;
    cursor: pointer;
}

.hero_user-edit:hover {
    opacity: 0.9;
}

.hero_user-edit:active {
    opacity: 0.5;
}

.hero_user-wrap {
    margin-left: 60px;
}

.hero_user-name {
    font-weight: 800;
    font-size: 37px;
    line-height: 45px;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.hero_user-log {
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
}



/* Navigation Menu */

.navigation_menu {
    display: flex;
    justify-content: space-between;
    width: 1145px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(116, 121, 136, 0.2);
    border-radius: 60px;
    z-index: 10 !important;
}

.navigation_link {
    padding: 23px 30px;
    transition: all 0.8s ease;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8881px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.navigation_link:hover {
    background: rgba(255, 255, 255, 0.5);
}

.filter-select {
    display: flex;
    margin-left: auto;
    width: 412px;
    margin-bottom: 25px;
    gap: 0 8px;
}

/* *=================== */
/* *========Completed Card Start=========== */
/* *=================== */

.completed-card-item {
    display: flex;
    position: relative;
    width: 100%;
    height: 165px;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 10px;
}

.completed-card-item img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.completed-card-left_date {
    position: absolute;
    top: -25px;
    padding: 14px 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #313747;
    border-radius: 8px;
}

.completed-card-left {
    padding: 35px 0px 28px 25px;
}

.one-box {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

.one-box .one-box_img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.one-box_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.one-box_title-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.02em;
}

.completed-card-left_bottom {
    display: flex;
    align-items: center;
    position: relative;
    width: 1057px;
    padding: 14px;
    background: #313747;
    border-radius: 8px;
}

.left_bottom-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.left_bottom-text span {
    font-weight: 700;
    font-size: 15px;
}

.left_bottom-line {
    display: inline-block;
    width: 0px;
    height: 21px;
    margin: 0px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.3px;
}

.left_bottom-btn {
    position: absolute;
    right: 0px;
    padding: 14px 43px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
    background: #1E88E5;
    border-radius: 8px;
}

.easy-box {
    display: inline-block;
    padding: 7px 25px;
    font-weight: 700;
    font-size: 12px !important;
    color: #FFFFFF;
    background: #2AA2AA;
    border-radius: 29.1892px;
}
