*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #212530;
    --bs-body-color: #fff;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}

.container-lff {
    width: 1350px;
    padding: 0px 20px;
    margin: 0 auto;
}

.main {
    width: 100%;
    height: auto;
    background: url("../images/activities-section-bg.svg") no-repeat;
    background-size: cover;
}