/* ========= ACTIVITIES MEDIA START ========= */
@media only screen and (max-width: 1145px) {
    .activities-section {
        width: 100%;
    }

    .navigation_menu {
        width: 1000px;
    }
}

@media only screen and (max-width: 1005px) {
    .navigation_menu {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    .navigation_menu {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 550px) {
    .activities_card-item {
        width: 200px;
    }

    .activities_card-item-title {
        top: 185px;
        font-size: 20px;
    }

    .activities_card-item-img {
        width: 200px;
        height: 230px;
    }

    .acti_ca-btn {
        font-size: 12px;
    }
}

@media only screen and (max-width: 412px) {

    .navigation_link {
        padding: 18px 20px;
        font-size: 16px;
    }

    .activities_card-item {
        width: 240px;
    }

    .activities_card-item-img {
        width: 100%;
    }

    .activities_card-item-icon {
        width: 80px;
        height: 80px;
    }

    .activities_card-item-box .acti_ca:nth-child(3) {
        margin-bottom: 20px;
    }

}

/* ========= ACTIVITIES MEDIA END ========= */

/* ========= ACTIVITIES MEDIA START ========= */

@media only screen and (max-width: 1210px) {
    .completed-card-item {
        flex-direction: column;
        height: 100%;
    }

    .completed-card-item img {
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    .completed-card-item-left {
        width: 1085px;

    }

    .left_bottom-btn {
        right: 10px;
        bottom: 20%;
    }

    /* /////////////////// */

    .add-new-trail__inner-wrap{
        flex-direction: column;
    }

    .add-new-trail__wrap {
        height: 210px;
        border-radius: 10px;
    }

    .add-new-trail__wrap-box-two {
        margin-bottom: 15px;
    }

    .add-new-trail__wrap::before {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
    .add-new-trail__wrap-box-two {
        width: 100%;
    }
}

@media only screen and (max-width: 1090px) {

    .completed-card-left {
        padding: 25px;
    }

    .completed-card-left_bottom {
        width: 100% !important;
    }

    .completed-card-item-left {
        width: 100%;
    }

    .left_bottom-btn {
        width: 95%;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 10%;
    }

    .completed-card-item-left {
        position: relative;
        height: 235px;
    }
}

@media only screen and (max-width: 870px) {

    .completed-card-left_bottom {
        overflow: auto !important;
    }

    .completed-card-left_bottom .com {
        min-width: 750px;
    }

    .left_bottom-btn {
        position: absolute;
    }

    .one-box_title {
        font-size: 22px;
    }

    .one-box_title-name {
        font-size: 24px;
    }

    .left_bottom-btn {
        width: 90%;
    }
}

@media only screen and (max-width: 685px) {

    .one-box .one-box_img {
        width: 35px;
        height: 35px;
    }

    .one-box_title-name {
        font-size: 20px;
    }

    .one-box_title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
.add-new-trail__wrap-box-two {
    overflow: scroll;
}
}

@media only screen and (max-width: 580px) {

    .completed-card-left_date {
        padding: 10px 25px;
        font-size: 14px;
    }

    .completed-card-left_one-box {
        align-items: center;
        margin-bottom: 20px;

    }

    .one-box .one-box_img {
        width: 35px;
        height: 35px;
    }

    .one-box_title-name {
        font-size: 17px;
        line-height: 22px;

    }

    .one-box_title {
        font-size: 16px;
        line-height: 22px;
    }

    .left_bottom-text {
        font-size: 12px;
    }

    .completed-card-left_bottom .com {
        min-width: 700px;
    }

    .left_bottom-btn {
        width: 85%;
    }
}

@media only screen and (max-width: 425px) {

    .add-new-trail__wrap {
        height: 270px;
    }

    .add-new-trail__wrap-box .add-new-trail__wrap-in:nth-child(1) {
        width: 100%;
        margin-right: 0;
    }

    .form-control .add-new-trail__wrap-in {
        width: 100%;
        font-size: 14px !important;
    }

    .add-new-trail__wrap-box {
        flex-direction: column;
        gap: 15px;
    }
}

@media only screen and (max-width: 368px) {

    .completed-card-left {
        padding: 22px;
    }

    .completed-card-left_bottom {
        padding: 10px 14px;
    }

    .completed-card-item img {
        height: 180px;
    }

    .one-box_title-name {
        font-size: 15px;
    }

    .one-box_title {
        font-size: 14px;
    }

    .left_bottom-text {
        font-size: 12px;
    }

    .left_bottom-text span {
        font-size: 13px;
    }

    .completed-card-left_date {
        font-size: 12px;
    }

    .completed-card-left_bottom .com {
        width: 600px;
    }

    .left_bottom-btn {
        font-size: 14px;
    }

    .add-new-trail__wrap-btn {
        font-size: 14px;
    }
}

/* ========= ACTIVITIES MEDIA END ========= */