/* ========= ACTIVITIES MEDIA START ========= */
@media only screen and (max-width: 1145px) {
    .activities-section {
        width: 100%;
    }

    .navigation_menu {
        width: 1000px;
    }
}

@media only screen and (max-width: 1005px) {
    .navigation_menu {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    .navigation_menu {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 550px) {
    .activities_card-item {
        width: 200px;
    }

    .activities_card-item-title {
        top: 185px;
        font-size: 20px;
    }

    .activities_card-item-img {
        width: 200px;
        height: 230px;
    }

    .acti_ca-btn {
        font-size: 12px;
    }
}

@media only screen and (max-width: 412px) {

    .navigation_link {
        padding: 18px 20px;
        font-size: 16px;
    }

    .activities_card-item {
        width: 240px;
    }

    .activities_card-item-img {
        width: 100%;
    }

    .activities_card-item-icon {
        width: 80px;
        height: 80px;
    }

    .activities_card-item-box .acti_ca:nth-child(3) {
        margin-bottom: 20px;
    }

}

/* ========= ACTIVITIES MEDIA END ========= */

/* ========= ACTIVITIES MEDIA START ========= */

@media only screen and (max-width: 1210px) {
    .completed-card-item {
        flex-direction: column;
        height: 100%;
    }

    .completed-card-item img {
        width: 100%;
        height: 240px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    .completed-card-item-left {
        width: 1085px;

    }

    .left_bottom-btn {
        right: 10px;
        bottom: 20%;
    }

    /* /////////////////// */

    .add-new-trail__inner-wrap {
        flex-direction: column;
    }

    .add-new-trail__wrap {
        height: 210px;
        border-radius: 10px;
    }

    .add-new-trail__wrap-box-two {
        margin-bottom: 15px;
    }

    .add-new-trail__wrap::before {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
    .add-new-trail__wrap-box-two {
        width: 100%;
    }
}

@media only screen and (max-width: 1090px) {

    .completed-card-left {
        padding: 25px;
    }

    .completed-card-left_bottom {
        width: 100% !important;
    }

    .completed-card-item-left {
        width: 100%;
    }

    .left_bottom-btn {
        width: 95%;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 10%;
    }

    .completed-card-item-left {
        position: relative;
        height: 235px;
    }
}

@media only screen and (max-width: 870px) {

    .completed-card-left_bottom {
        overflow: auto !important;
    }

    .completed-card-left_bottom .com {
        min-width: 750px;
    }

    .left_bottom-btn {
        position: absolute;
    }

    .one-box_title {
        font-size: 22px;
    }

    .one-box_title-name {
        font-size: 24px;
    }

    .left_bottom-btn {
        width: 90%;
    }
}

@media only screen and (max-width: 685px) {

    .one-box .one-box_img {
        width: 35px;
        height: 35px;
    }

    .one-box_title-name {
        font-size: 20px;
    }

    .one-box_title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
    .add-new-trail__wrap-box-two {
        overflow: scroll;
    }
}

@media only screen and (max-width: 580px) {

    .completed-card-left_date {
        padding: 10px 25px;
        font-size: 14px;
    }

    .completed-card-left_one-box {
        align-items: center;
        margin-bottom: 20px;

    }

    .one-box .one-box_img {
        width: 35px;
        height: 35px;
    }

    .one-box_title-name {
        font-size: 17px;
        line-height: 22px;

    }

    .one-box_title {
        font-size: 16px;
        line-height: 22px;
    }

    .left_bottom-text {
        font-size: 12px;
    }

    .completed-card-left_bottom .com {
        min-width: 700px;
    }

    .left_bottom-btn {
        width: 85%;
    }

    .filter-select {
        width: 305px;
    }

    .filter-select-box {
        width: 150px !important;
    }

    .filter-select-menu {
        width: 150px !important;
    }
}

@media only screen and (max-width: 425px) {

    .add-new-trail__wrap {
        height: 270px;
    }

    .add-new-trail__wrap-box .add-new-trail__wrap-in:nth-child(1) {
        width: 100%;
        margin-right: 0;
    }

    .form-control .add-new-trail__wrap-in {
        width: 100%;
        font-size: 14px !important;
    }

    .add-new-trail__wrap-box {
        flex-direction: column;
        gap: 15px;
    }
}

@media only screen and (max-width: 368px) {

    .completed-card-left {
        padding: 22px;
    }

    .completed-card-left_bottom {
        padding: 10px 14px;
    }

    .completed-card-item img {
        height: 180px;
    }

    .one-box_title-name {
        font-size: 15px;
    }

    .one-box_title {
        font-size: 14px;
    }

    .left_bottom-text {
        font-size: 12px;
    }

    .left_bottom-text span {
        font-size: 13px;
    }

    .completed-card-left_date {
        font-size: 12px;
    }

    .completed-card-left_bottom .com {
        width: 600px;
    }

    .left_bottom-btn {
        font-size: 14px;
    }

    .add-new-trail__wrap-btn {
        font-size: 14px;
    }

    .filter-select {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .filter-select-box {
        width: 155px !important;
        height: 35px;
    }

    .filter-select-menu {
        width: 110px !important;
    }

    .form-check-label {
        font-size: 12px !important;
    }

    .form-check-input {
        width: 15px !important;
        height: 15px !important;
    }

    .filter-select-menu li .form-check:hover::before {
        width: 159px;
    }
}

/* ========= ACTIVITIES MEDIA END ========= */

/* ========= BOX PHOTOS MEDIA START ========= */

@media only screen and (max-width: 768px) {

    .boxs {
        gap: 20px;
    }

    .albom {
        width: 150px;
        height: 150px;
    }

    .albom__btn {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 430px) {
    .boxs {
        gap: 15px;
    }

    .albom {
        width: 100px;
        height: 100px;
    }

    .albom__btn {
        width: 100px;
        height: 100px;
        font-size: 14px;
    }

    .albom__img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
}

/* ========= BOX PHOTOS MEDIA END ========= */

/* ========= MAIN MEDIA START ========= */
@media only screen and (max-width: 1150px) {
    .user-profile__wrapper {
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
        margin: 0 auto;
        gap: 60px 0;
    }

    .user-profile__right {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .user-profile__form-inp-wrap {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {

    .user-profile {
        width: 100%;
    }

    .user-profile__form-inp-wrap {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }

    .user-profile__left {
        width: 100%;
    }

    .user-profile__form-label {
        margin-bottom: 15px;
    }

    .user-profile__form {
        width: 100%;
    }

    .user-profile__form-input {
        width: 100% !important;
    }

    .user-profile__wrapper {
        width: 100%;
    }

    .select-size {
        width: 100%;
    }

    .user-profile__form-select-wrap {
        flex-wrap: wrap;
        gap: 20px;
    }

    .user-profile__form-radios {
        width: 100%;
    }

    .user-profile__form-label {
        font-size: 14px;
    }

    .user-profile__right {
        width: 100%;
    }

    .user-profile__form-new {
        width: 100%;
    }

    .user-profile__img {
        width: 100%;
        object-fit: cover;
    }

    .user-profile__right-btn-wrap {
        width: 220px;
        left: 50%;
        right: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 505px) {
    .user-profile__bottom {
        flex-direction: column-reverse;
    }

    .user-profile__bottom {
        width: 100%;
    }

    .activities-wrap__item {
        font-size: 14px;
        padding: 10px;
    }

    .additional_info__btn {
        font-size: 16px;
    }

    .user-profile__img {
        width: 100%;
        height: 300px;
    }

    .user-profile__right-btn-file {
        font-size: 14px;
    }
}

/* ========= USER MAIN MEDIA END ========= */


/* ========= STAT MEDIA START ========= */

@media only screen and (max-width: 1320px) {
    .stat-box__list {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .stat-form-data {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }

    .stat-box__list {
        gap: 20px;
    }

    .stat-box__item-top {
        width: 140px;
        height: 140px;
    }

    .stat-box__item {
        width: 100%;
    }

    .stat-box__item-top svg {
        width: 50px;
        height: 50px;
    }

    .stat-box__bold-text {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .stat-box__text {
        font-size: 12px;
        line-height: normal;
    }

    #distance_chart {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 368px) {
    .stat-box__item-top {
        width: 100px;
        height: 100px;
    }

    .stat-box__item {
        width: 100px;
    }
}

/* ========= STAT MAIN MEDIA END ========= */


/* ========= ACTIVITIES MEDIA START ========= */
@media only screen and (max-width: 1300px) {

    .stats-card-bottom {
        flex-wrap: wrap;
    }

    .stats-card-bottom__left {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .stats-iframe {
        width: 100%;
    }

    .stats-card-bottom__right {
        width: 100%;
    }

    .stats-card-bottom__right img {
        width: 100%;
        object-fit: cover;
    }

    .stat-form-data {
        position: relative;
        top: 0;
        left: 50%;
        right: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1250px) {
    .stats-cart-top {
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;
    }

    .stats-cart-top__slider {
        width: 100% !important;
    }

    .stats-cart-top__slider-wrap {
        width: 100% !important;
    }

    .stats-cart-top__slider-item {
        width: 100% !important;
    }

    .stats-cart-top__slider-item .stats-card-slider-img {
        display: inline-block;
        width: 100% !important;
    }
}

@media only screen and (max-width: 935px) {
    .stats-card-top__list {
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .stats-card {
        padding: 20px;
    }

    .stats-card-top__left-info-date {
        padding: 10px;
        width: 150px;
        text-align: center;
        font-size: 14px;
    }

    .stats-card-top__left-bold-text {
        font-size: 20px;
    }

    .stats-card-top__left-text {
        margin-bottom: 0px;
        font-size: 16px;
    }

    .stats-card-top__left-text {
        margin-bottom: 20px;
        font-size: 14px;
    }
}

/* ========= ACTIVITIES MEDIA END ========= */