.container-sm {
    max-width: 540px;
}

@media (max-width: 576px) {

    .container,
    .container-sm {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.mobile_title,
.mobile_card_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 121%;
}

.mobile_title a {
    color: #fff;
    text-decoration: underline;
}

.mobile_title2 {
    font-size: 16px;
    font-weight: 500;
}

.mobile_title3 {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
}

/* Header */

.navbar {
    padding-top: 20px;
}

.nav_page_title {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}

.nav_back_text {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.nav_back_text i {
    font-size: 14px;
    vertical-align: middle;
}

.nav__center {
    display: flex;
    align-items: center;
}

.nav__search {
    position: relative;
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.nav_search_icon {
    background-color: transparent;
    border: none;
}

.nav_search_icon.active {
    display: none;
}

.nav__search i {
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(-50%);
    font-size: 17px;
    color: #219653;
}

.nav_search_input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 18px 0 36px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: rgba(3, 25, 37, 0.5);
    appearance: none;
    outline: none;
    border: none;
    transition: 0.3s;
}

.nav_search_input:hover,
.nav_search_input:focus,
.nav_search_input:active {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav__search.active {
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    transition: 0.3s;
}

.nav__search.active+.nav_page_title {
    display: none;
}

.hero .product_card_btn {
    position: static;
    color: #219653;
    font-size: 17px;
}

.trail_title {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-align: left;
    margin-bottom: 0;
    max-width: 300px;
    margin-top: 20px;
}

.hero .breadcrumb {
    max-width: 300px;
    margin-bottom: 20px;
}

.hero_mobile_text {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.trail_detail_list {
    font-size: 14px;
}

.hero .mobile_title2 {
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}

.mobile_header_tab {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 12px 0 3px;
    font-weight: 500 !important;
    font-size: 12px;
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #ccc;
    --bs-nav-underline-link-active-color: #ddd;
}

.nav-underline .nav-link {
    border-bottom: none;
    position: relative;
    padding-bottom: 20px;
}

.nav-underline .nav-link::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    transition: 0.3s;
}

.nav-underline .nav-link:hover::before,
.nav-underline .nav-link.active::before {
    background-color: #219653;
}

.hero_bg_pagination {
    margin-top: -5px;
}

.hero_bg_pagination .splide__pagination__page {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero_bg_pagination .splide__pagination__page.active {
    width: 10px;
    height: 10px;
    background-color: #219653;
}

/* Home page */

.activity_box_title {
    position: absolute;
    left: 7px;
    bottom: 11px;
    color: #fff;
    margin: 0;
}

.activity_box_pin {
    max-width: 54px;
    max-height: 42px;
    top: 40%;
}

.activity__box {
    width: 33.33333333%;
}

.mobile_card_overflow {
    overflow-x: auto;
}

.mobile_card_wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 25px;
    width: fit-content;
}

.mobile_card {
    width: 150px;
    margin-right: 12px;
}

.mobile_card_content {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
}

.mobile_card_content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.mobile_card_text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.mobile_card .product_card_btn {
    top: -16.5px;
    right: 10px;
    color: #219653;
    font-size: 18px;
}

.trail_rating_stat {
    margin-bottom: 16px;
}

.trail_rating_stat p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-width: 120px;
}

.trail_rating_line {
    height: 6px;
}

.card2_img::before {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.col-6 .card2_img img {
    aspect-ratio: 1/1;
}

.iphone_slider {
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.iphone_slider_img {
    width: 100%;
    height: calc(115vw - 32px);
    margin-bottom: 66vw;
    border-radius: 8px;
}

.iphone_slider_title {
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    padding: 16px 0 8px;
}

.iphone_slider_content {
    padding-top: calc(115vw - 104px);
    background: url("../images/iphone.png") no-repeat center / contain;
}

.iphone_slider_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 200px;
    margin: 0 auto;
}

.subscribe {
    display: block;
    margin-bottom: 0;
    background: linear-gradient(180deg,
            rgba(95, 99, 111, 0.77) 0%,
            #5f636f 43.75%,
            rgba(95, 99, 111, 0) 100%);
    padding: 35px 0;
}

.subscribe__form {
    position: relative;
}

.subscribe__input {
    height: 40px;
    color: rgba(3, 25, 37, 0.5);
    border: none;
    background-color: #fff;
    font-weight: 400;
    padding: 12px 20px 12px 15px;
}

.subscribe__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    height: auto;
    border: none;
    outline: none;
    background-color: transparent !important;
    color: rgba(33, 150, 83, 1) !important;
    font-size: 14px;
}

/* Footer */

.footer {
    padding: 15px 0 100px;
}

.footer .accordion {
    --bs-accordion-bg: #181c25;
    --bs-accordion-active-bg: #181c25;
}

.footer .accordion-button {
    padding-left: 0;
}

.footer__social {
    padding-left: 0;
    margin: 30px 0;
}

.footer_c_text {
    text-align: left;
    color: #fff;
}

.footer_end_line {
    height: 1px;
    background-color: #fff;
    margin: 13px 0 10px;
}

.footer_logo {
    display: block;
    width: max-content;
    margin: 0 auto 30px;
}

/* Trail */

.trail {
    margin-top: 0;
}

.trail_details {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.08);
}

.trail_details p {
    margin: 0;
}

.trail_details p:first-child {
    color: rgba(255, 255, 255, 0.4);
}

.trail_about_text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.trail_about_btn {
    width: 100%;
}

.trail_tag_list {
    gap: 7px;
    margin-bottom: 24px;
}

.trail__tag {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 10px;
}

.section__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.col-12 .trail_weather_title i {
    font-size: 44px;
}

.trail_weather_title,
.trail_weather_title i {
    font-size: 32px;
}

.trail_weather_title {
    margin: 20px 0 16px;
}

.trail_weather_text {
    font-size: 14px;
}

.trail_rating_btn {
    --bs-btn-padding-y: 13px;
    --bs-btn-padding-x: 21px;
}

.trail_reviews_title,
.trail_rating_btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.trail_reviews_all,
.trail_review_content h6,
.trail_review_content p,
.trail_rate span,
.trail_review_text,
.trail_card2_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.trail_rate i {
    font-size: 14px;
}

.trail_review_text {
    line-height: 24px;
    margin: 16px 0;
}

.trail_card2 {
    width: 150px;
    margin-right: 12px;
}

.trail_card2_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 4px 0 18px;
}

.trail_card2_rate {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.trail_card2 .splide {
    height: 250px;
}

.splide__pagination__page {
    width: 10px;
    height: 10px;
}

.splide__pagination {
    bottom: 10px;
}

.splide__track {
    border-radius: 8px;
}

.trail_review_count {
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.trail_review_profile_header {
    justify-content: space-between;
    align-items: start;
    margin: 20px 0 30px;
}

.trals_table_text h6,
.trals_table_text p,
.trals__table .trail_rate span,
.trals__table .trail_card_tag,
.trail_table_length {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}

.trals_table_text h6,
.trail_table_length {
    font-weight: 700;
}

.trals__table tr:nth-child(2n + 1) td {
    background-color: transparent;
}

.trals__table tr {
    padding: 0 0 4px 8px;
    display: flex;
    flex-wrap: wrap;
}

.trals__table tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.1);
}

.trals__table .trail_rate span,
.trail_table_length {
    color: rgba(255, 255, 255, 0.4);
}

.trals__table .trail_card_tag {
    height: 29px;
    width: 160px;
    justify-content: center;
}

.table> :not(caption)>*>* {
    padding: 4px 8px;
}

/* Filters */

.filter_form_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
}

.filter_form_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.filter_form_content.three {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
}

.filter_form_content.none {
    display: block;
    gap: 0;
}

.filters .form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 3px solid #219653;
    margin: auto 8px auto 0;
}

.form-check-input:hover,
.form-check-input:focus {
    border-color: #219653;
    box-shadow: 0 0 0 0.25rem rgba(33, 150, 84, 0.25);
    background-color: rgba(33, 150, 84, 0.25);
}

.form-check-input:checked,
.form-check-input:active {
    background-color: #219653;
    border-color: #219653;
    background-size: 11px 11px;
}

.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M1 5.5L4.5 9L9 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.form-check-input:checked[type="radio"],
.form-check-input:active[type="radio"] {
    background-size: 18px 18px;
}

.custom_range input {
    max-width: 60px;
    width: auto;
    height: 100%;
    outline: none;
    font-size: 14px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #999;
    background-color: transparent;
    -moz-appearance: textfield;
}

.custom_range input[type="number"]::-webkit-outer-spin-button,
.custom_range input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.custom_range_text {
    font-size: 14px;
}

.filter_slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.filter_slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #219653;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter_range_input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #219653;
    pointer-events: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7px;
    -webkit-appearance: none;
}

.filter_range_input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #219653;
    pointer-events: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7px;
    border: none;
    -moz-appearance: none;
}

.filter_range_input[type="range"]:first-child::-webkit-slider-thumb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M5.66802 12.0001L7 10.5901L2.67341 6.00006L7 1.41006L5.66802 5.92443e-05L4.29138e-07 6.00006L5.66802 12.0001Z' fill='white'/%3E%3C/svg%3E");
}

.filter_range_input[type="range"]:first-child::-moz-range-thumb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M5.66802 12.0001L7 10.5901L2.67341 6.00006L7 1.41006L5.66802 5.92443e-05L4.29138e-07 6.00006L5.66802 12.0001Z' fill='white'/%3E%3C/svg%3E");
}

.filter_range_input[type="range"]:last-child::-webkit-slider-thumb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M1.33198 6.10352e-05L0 1.41006L4.32659 6.00006L0 10.5901L1.33198 12.0001L7 6.00006L1.33198 6.10352e-05Z' fill='white'/%3E%3C/svg%3E");
}

.filter_range_input[type="range"]:last-child::-moz-range-thumb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M1.33198 6.10352e-05L0 1.41006L4.32659 6.00006L0 10.5901L1.33198 12.0001L7 6.00006L1.33198 6.10352e-05Z' fill='white'/%3E%3C/svg%3E");
}

/* ACTIVITIES MOBILE STYLE */

/* .mobile-header-footer {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0) 87.5%, #000000 100%);
} */

body {
    padding-bottom: 200px;
}

.header-user {
    position: relative;
    margin-bottom: 30px;
}

.header-user::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0) 87.5%, #000000 100%);
    z-index: -1;

}

.hero {
    margin-top: 35px;
}

.hero-nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hero-nav-mobile__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero-user-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-user-top__wrap {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-bottom: 20px;
}

.hero-user-top__wrap img {
    width: 66px;
    height: 66px;
    border-radius: 50%;
}


.hero-user-top__wrap-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.hero-user-top__wrap-location {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
}

.hero-user-list-wrap {
    position: relative;
    width: 100%;
    height: 46px;
    z-index: 11 !important;
}

.hero-user-slob {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 46px;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(270deg, #2F3546 16.76%, rgba(47, 53, 70, 0) 100%);
    z-index: 11;
}

.hero-user-list {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 0px 20px;
    width: 100%;
    height: 46px;
    overflow-x: scroll;
    background: linear-gradient(270deg, #2F3546 100%, rgba(47, 53, 70, 0) 100%);
    border-radius: 10px;
}

.hero-user-list__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.active-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 83px;
    height: 2px;
    background: #D9D9D9;
}

.hero-user-list__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero-main-accordion {
    width: 100%;
    padding: 15px 0 !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3) !important;
}

.hero-main-accordion-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero-main-accordion-btn .ac-span {
    margin-left: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.hero-main-accordion-btn .ac-span-2 {
    margin-left: 10px;
    margin-right: 15px;
}

.hero-main-accordion:not(.collapsed) {
    background-color: transparent;
}

.hero-main-accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hero-main-body {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 !important;
}

.hero-main-body-list {
    width: 299px;
}

.hero-main-body-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.hero-main-body-item div {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.5);
}

/* STATS STYLE */

.stats-mobile-form {
    display: flex;
    justify-content: end;
}

.stat-mobile-main-form {
    width: 208px;
    height: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 30px;
}

.stats-chart-mobile {
    width: 100%;
    height: 330px;
}

.stats-info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 67px;
    background: rgba(255, 255, 255, 0.08);
    margin-bottom: 30px;
}

.stats-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 67px;
}

.active-info-item {
    background: rgba(255, 255, 255, 0.18);
}

.stats-info-item div {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.4;
}

.stats-info-item span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.stats-mobile-chart {
    margin-bottom: 30px;
}

/* Photos Mobile Style */

.photos-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.no-photos-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.no-photos-info__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 15px;
}

.photos-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #031925;
    background-color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

/* Albums Mobile */

.albums-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 148px;
    height: 148px;
    margin-bottom: 15px;
}

.albums-mobile-slider__inner {
    width: 148px;
    height: 148px;
    border-radius: 10px;
}

.albums-mobile-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.albums-mobile-card-item {
    width: 148px;
}

.al-card-item__text-1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.al-card-item__text-2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.al-card-item__text-3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators {
    margin-bottom: 0rem;
}

.photos-btn-wrap {
    display: flex;
    justify-content: center;
}