@import url("./global.css");

:root {
    color-scheme: dark;
}

@media (min-width: 1400px) {
    .container__big {
        max-width: 1800px;
        width: 95%;
    }
}

.btn {
    box-shadow: none !important;
}

.dropdown__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter__dropdown_menu {
    border: none;
}

.filter_dropdown_btn {
    padding: 8px 20px !important;
    box-shadow: none !important;
    background-color: #ffce47 !important;
}

.filter__dropdown {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.filter__input {
    border-radius: 8px !important;
    height: 36px !important;
    padding: 8px 16px !important;
}

.number__input {
    width: 100px;
}

.filter_submit_btn {
    background-color: #f36a46 !important;
    padding: 8px 30px !important;
}

.filter_submit_btn .strike-text,
.filter_submit_btn::after,
.filter_dropdown_btn .strike-text,
.hero_search_btn .strike-text,
.hero_search_btn::after {
    display: none !important;
}

.leaflet-popup-content {
    padding: 0 !important;
    margin: 0 !important;
    width: 300px !important;
}

.leaflet-popup-content-wrapper {
    overflow: hidden;
}

.leaflet-popup-close-button {
    display: none;
}

.blabber_skip_link,
.menu_mobile {
    display: none;
}

/* Front page */

.header {
    position: relative;
}

.header_home {
    height: 100vh;
    max-height: 800px;
}

.navbar {
    padding-top: 40px;
    --bs-navbar-nav-link-padding-x: 23px;
}
.nav_hidden_items {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.nav_login_btn {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    color: #fff;
}

.navbar .nav-item {
    --bs-nav-link-color: rgba(255, 255, 255, 0.75);
    --bs-nav-link-hover-color: #fff;
    display: flex;
    align-items: center;
}

.navbar .nav-item a {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.navbar-toggler {
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.header_mobile .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.nav__bottom {
    position: fixed;
    width: 100%;
    bottom: 20px;
}

.nav_bottom_list {
    display: flex;
    justify-content: center;
    gap: 0 40px;
    padding: 0;
    margin: 0 auto;
}

.nav_bottom_item a {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
}

.nav_bottom_item i {
    font-size: 20px;
}

.nav_bottom_item:hover a {
    color: #219653;
}

.nav_bottom_item svg g path {
    transition: 0.3s;
}

.nav_bottom_item:hover svg g path {
    fill: #219653;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.hero {
    width: 100%;
    position: relative;
    margin-top: 80px;
}

.hero_home {
    margin-top: 0;
    height: 83%;
    display: flex;
    align-items: center;
}

.hero__content {
    text-align: center;
    width: 100%;
}

.hero__title {
    font-weight: 800;
    font-size: 37px;
    line-height: 45px;
    color: #fff !important;
    margin-bottom: 44px;
}

.hero__search {
    position: relative;
    background-color: #fff;
    height: 72px;
    padding: 12px 12px 12px 24px;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 40px;
    margin: 0 auto;
}

.hero_search_input {
    width: 500px;
    font-size: 20px;
    font-weight: 700;
    color: #2b381f;
    border: none;
    outline: none;
    background-color: transparent;
}

.hero_search_btn {
    border-radius: 50%;
    background-color: #2aa2aa !important;
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
}

.header_mobile {
    height: 560px;
}

.header_mobile .offcanvas {
    --bs-offcanvas-width: 69px;
    --bs-offcanvas-bg: #212530;
}

.header_mobile .offcanvas::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            #10121a 0%,
            rgba(16, 18, 26, 0.4) 70.83%,
            rgba(16, 18, 26, 0) 100%);
    z-index: -1;
}

.header_mobile .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_mobile .btn-close {
    --bs-btn-close-color: #fff;
    --bs-btn-close-opacity: 1;
    margin-bottom: 40px;
}

.header_mobile::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 90px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(33, 37, 48, 0) 0%, #212530 100%);
}

.header_mobile .hero__content {
    margin: 0 4px;
}

.hero_mobile .hero__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 70px;
}

.hero_mobile .hero_search_icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #219653;
}

.hero_mobile .hero_search_input {
    width: 100%;
    height: 40px;
    padding: 15px 20px 20px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

.hero_mobile .hero_search_input::placeholder {
    font-size: 14px;
    color: rgba(3, 25, 37, 0.5);
}

.hero_map_link {
    margin-top: 32px;
}

.hero_map_link a {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #efefec;
    text-decoration: underline;
}

.hero_map_link a:hover {
    color: #efefec;
}

.hero_vectors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    /* z-index: -1; */
}

.hero_home .hero_vectors {
    height: 200%;
}

.hero_vector {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero_vector_img,
.subscribe_vector {
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.hero_home .hero_vector_img:last-child {
    right: -65px;
    top: 400px;
}

.hero .breadcrumb-item,
.hero .breadcrumb-item a {
    color: #fff;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 30px;
}

.section__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #d3d3d3;
}

.section_see_all {
    font-weight: 500;
    font-size: 16px;
    color: #d3d3d3;
    text-decoration: none;
}

.product__card {
    position: relative;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%,
            #303644 0%,
            #282d3a 100%);
    border-radius: 40px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    color: #fff;
    margin-bottom: 22px;
}

.product_card_content {
    padding: 15px 15px 0;
}

.product_card_title {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-top: 12px;
    margin-bottom: 7px;
    color: #fff;
}

.product_card_address,
.product_card_rate {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}

.product_card_rate {
    font-size: 14px;
}

.product_card_img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.product_card_btn {
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    top: 15px;
    right: 20px;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_card_btn i {
    color: #000;
}

.product_card_tag {
    background-color: #fff;
    padding: 7px 12px;
    width: max-content;
    border-radius: 20px;
    color: #8a877d;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    cursor: default;
}

.product_card_rate i,
.trail_card_rate i,
.trail_card2_rate i {
    color: #ffc107;
}

.activity__content {
    display: flex;
    gap: 15px;
}

.activity__box {
    width: max-content;
    text-decoration: none;
}

.activity_box_content {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.activity_box_img {
    width: 100%;
    border-radius: 12px;
    transition: 0.3s;
}

.activity_box_img:hover {
    transform: scale(1.1);
}

.activity_box_title {
    font-weight: 700;
    font-size: 15px;
    color: #d3d3d3;
    margin-top: 10px;
    text-align: center;
}

.activity_box_pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.activity_box_more {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.activity_box_more .activity_box_content {
    background-color: #313644;
    width: 80px;
    height: 100%;
    border-radius: 12px;
}

.activity_box_more .activity_box_pin {
    color: #fff;
}

.subscribe {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    margin-bottom: 40px;
}

.subscribe_now,
.invite_friend {
    position: relative;
    background: #171a22;
    border-radius: 18px;
    overflow: hidden;
}

.subscribe_now {
    grid-column: span 6;
    display: flex;
    justify-content: end;
}

.invite_friend {
    grid-column: span 4;
}

.subscribe__content,
.invite_friend {
    padding: 60px 20px 20px;
}

.subscribe__content {
    padding-left: 0;
}

.subscribe__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 66px;
    color: #e2e1dd;
    margin-bottom: 20px;
}

.subscribe__text {
    font-size: 21px;
    line-height: 32px;
    color: #e2e1dd;
    margin-bottom: 50px;
    max-width: 420px;
}

.subscribe__input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 5px;
    border-radius: 8px;
    padding: 12px 26px;
    outline: none;
}

.subscribe__btn {
    background-color: #2aa2aa !important;
    color: #fff !important;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
}

.subscribe_vector {
    top: 0;
    height: 100%;
}

.subscribe_vector1 {
    left: 0;
}

.section__title2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #d3d3d3;
    margin-bottom: 20px;
}

.reviewboard_box {
    width: 100%;
    color: #fff;
    text-align: center;
    background: rgba(50, 55, 67, 0.32);
    border-radius: 20px;
    margin-right: 25px;
    margin-bottom: 44px;
}

.reviewboard_box:last-child {
    margin-right: 0;
}

.reviewboard_box_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    background: #323743;
    border-radius: 20px;
    margin-bottom: 15px;
}

.reviewboard_box_profile {
    padding: 25px 0 40px;
}

.reviewboard_profile_title {
    font-size: 18px;
    line-height: 22px;
}

.reviewboard_profile_text {
    font-size: 21px;
}

.card2__wrapper {
    display: flex;
}

.card2 {
    width: 100%;
    border-radius: 8px;
    margin-right: 12px;
    margin-bottom: 40px;
}

.card2_img {
    position: relative;
    display: block;
    text-decoration: none;
}

.card2_img::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 116px;
    background: linear-gradient(360deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 100%);
}

.card2_img img {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 8px;
}

.card2_content {
    padding: 20px 15px 25px;
    background: #313644;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card2_text {
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #e2e1dd;
}

.card2_text2 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    margin: 0;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
}

.card2_more {
    text-decoration: none;
    color: #fff;
}

.card2_more_content {
    width: 95px;
    height: 93%;
    background: #313644;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card2_more_content p {
    font-size: 14px;
    font-weight: 500;
}

.footer {
    background-color: #181c25;
    color: #fff;
    padding: 94px 0 48px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__link {
    font-size: 16px;
    line-height: 30px;
    font-family: "Manrope";
    list-style: none;
}

.footer__link a {
    text-decoration: none;
    color: #fff;
}

.footer__link:hover a {
    text-decoration: underline;
}

.footer__social {
    padding-left: 32px;
}

.footer_social_media {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #181c25;
    transition: 0.3s;
    margin-right: 12px;
    font-size: 14px;
    text-decoration: none;
}

.footer_social_media:last-child {
    margin-right: 0;
}

.footer_social_media:hover {
    background-color: #181c25;
    color: #fff;
}

.footer_c_text {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
}

.footer_vector {
    display: none;
}

@media (max-width: 1399px) {
    .subscribe__title {
        font-size: 40px;
        line-height: 48px;
    }

    .subscribe__text,
    .card2_text,
    .reviewboard_profile_text {
        font-size: 18px;
        line-height: 24px;
    }

    .reviewboard_box_header img {
        width: 60%;
    }

    .subscribe_now_img {
        position: relative !important;
        bottom: -22px !important;
        left: 0;
        width: 45%;
        object-fit: cover;
        z-index: 10;
    }

    .subscribe__content {
        padding-left: 20px;
    }
}

@media (max-width: 1199px) {
    .activity__content {
        flex-wrap: wrap;
    }

    .activity__box {
        flex-grow: 1;
    }

    .subscribe__text,
    .card2_text,
    .reviewboard_profile_text {
        font-size: 16px;
        line-height: 20px;
    }

    .card2__wrapper {
        flex-wrap: wrap;
    }

    .card2 {
        width: 50%;
        margin-right: 0;
        padding-right: 6px;
        padding-left: 6px;
    }

    .card2_more {
        display: none;
    }

    .subscribe__text {
        max-width: 100%;
    }
}

@media (max-width: 991px) {

    .subscribe_now,
    .invite_friend {
        grid-column: span 12;
    }
}

.trail_card {
    color: #fff;
}

.trail_card_img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trail_card_picture {
    position: relative;
}

.trail_card_rate {
    font-size: 19px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.trail_card_content {
    padding-left: 28px;
}

.trail_card_tag {
    height: 40px;
    width: max-content;
    padding: 0 45px;
    margin-right: 24px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.trail_card_tag[data-type="Easy"] {
    background-color: #2aa2aa;
}

.trail_card_tag[data-type="Moderate"] {
    background-color: #f0f0e8;
    color: #212530;
}

.trail_card_tag[data-type="Hard"] {
    background-color: #cf4c2f;
}

.trail_card_title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 3px;
    text-decoration: none;
    color: #fff;
}

.trail_card_link {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 16px;
}

.trail_card_details,
.trail_card_desc {
    font-size: 21px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
}

.trail {
    margin: 55px 0 25px;
}

.trail_location {
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.trail_title {
    font-weight: 700;
    font-size: 52.1px;
    line-height: 64px;
    color: #fff;
    margin-bottom: 30px;
}

.trail_rate {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}

.trail_rate i {
    color: #ffc107;
    font-size: 20px;
}

.trail_buttons_btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0;
}

.trail_btn_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #323743;
    margin-right: 8px;
    color: #fff;
}

.trail_middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.trail_buttons {
    display: flex;
    gap: 0 35px;
    margin-bottom: 125px;
}

.trail_action_btn {
    --bs-btn-bg: #1e88e5;
    --bs-btn-hover-bg: #1766aa;
    --bs-btn-padding-y: 11px;
    --bs-btn-padding-x: 43px;
}

#main-carousel .product_card_btn {
    width: 49px;
    height: 49px;
    color: #2a4336;
    top: 25px;
    right: 25px;
    font-size: 25px;
}

.trail_moderete_btn {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    color: #212530;
    padding: 10px 28px;
    border-radius: 25px;
}

.splide__pagination {
    bottom: 40px;
}

.splide__pagination__page {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background: #fff;
    opacity: 0.5;
}

.splide__pagination__page:hover {
    opacity: 0.8;
}

.splide__pagination__page.is-active {
    background: #219653;
    transform: scale(1);
    opacity: 1;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-carousel .splide__slide {
    height: 500px;
}

#main-carousel .splide__track {
    border-radius: 30px;
}

#thumbnail-carousel {
    padding: 0 53px;
    margin-top: 30px;
}

#thumbnail-carousel .splide__arrow {
    transform: translateY(0);
    width: 45px;
    height: 100%;
    border-radius: 5px;
    background: rgba(5, 6, 10, 0.4);
}

#thumbnail-carousel .splide__arrow svg {
    fill: #fff;
}

#thumbnail-carousel .splide__arrow--prev {
    top: 0;
    left: 0;
}

#thumbnail-carousel .splide__arrow--next {
    top: 0;
    right: 0;
}

#thumbnail-carousel .splide__slide {
    height: 200px;
    border: none !important;
}

#thumbnail-carousel .splide__slide img {
    border-radius: 5px;
}

.trail_box_list {
    display: flex;
    justify-content: space-between;
    gap: 0 33px;
    margin: 30px 0 90px;
}

.trail_box_content {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #323743;
    border-radius: 20px;
    margin-bottom: 18px;
}

.trail_box_text {
    line-height: 20px;
    text-align: center;
}

.trail_about_text {
    font-size: 21px;
    line-height: 48px;
}
.blue__btn, .trail_about_btn {
    --bs-btn-bg: #1e88e5;
    --bs-btn-hover-bg: #1766aa;
    --bs-btn-active-bg: #1766aa;
    --bs-btn-border-width: 0;
    font-weight: 500;
    line-height: 20px;
    --bs-btn-padding-y: 14px;
}
.trail_about_btn {
    --bs-btn-padding-x: 99px;
    --bs-btn-padding-y: 12px;
    margin: 20px 0 33px;
    display: flex;
}

.trail_about_btn i {
    font-size: 24px;
}

.trail_tag_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 12px;
}

.trail__tag {
    padding: 25px;
    font-weight: 500;
    font-size: 23.5px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    border: 1.8px solid rgba(255, 255, 255, 0.2);
    border-radius: 5.43987px;
    cursor: default;
}

.trail_weather_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1.66808px solid rgba(255, 255, 255, 0.2);
    border-radius: 16.6808px;
    padding: 10px 0;
}

.trail_weather_title {
    font-weight: 700;
    font-size: 39px;
    line-height: 40px;
    margin: 35px 0 20px;
}

.trail_weather_title i {
    font-size: 50px;
}

.col-12 .trail_weather_title i {
    font-size: 60px;
}

.trail_weather_text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.trail_card2_content img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 13.1143px;
}

.trail_card2_title {
    font-size: 23px;
    line-height: 28px;
    margin-top: 10px;
}

.trail_card2_text {
    margin: 6px 0 30px;
    font-size: 21px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);
}

.trail_card2_rate {
    font-weight: 500;
    font-size: 19.6714px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.essentials .section__title {
    color: #fff;
    font-size: 31.1108px;
}

.gear_wizard {
    display: flex;
    align-items: center;
}

.gear_wizard_img {
    position: relative;
    width: 83px;
    height: 83px;
}

.gear_wizard_img::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #00ff0a;
}

.gear_wizard_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.essential_card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.essential_card_content {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6.76322px;
    padding: 35px 24px 20px;
    flex-grow: 1;
}

.essential_card_title {
    font-weight: 700;
    font-size: 31.1108px;
    line-height: 38px;
    margin-bottom: 10px;
}
.splide__slide .essential_card_img,
.blog_product_img {
    width: max-content;
    height: auto;
    max-width: 100%;
    margin: auto;
}

.essential_card_text {
    font-size: 20.2897px;
    line-height: 35px;
    margin-top: 22px;
    padding: 0 12px;
}
.essentials .splide__arrow,
.blog_carousel .splide__arrow {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    font-size: 22px;
}

.essentials .splide__arrow:disabled {
    opacity: 1;
    cursor: default;
}

.essentials .splide__arrow--prev {
    left: -28.5px;
}

.essentials .splide__arrow--next {
    right: -28.5px;
}

.searching__by a {
    margin-bottom: 12px;
    color: #fff;
    font-family: "Manrope";
}

.searching__by a:hover {
    text-decoration: underline;
}

.near__me {
    font-family: "Manrope";
    font-size: 22px;
    padding: 16px 40px;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    border-radius: 6.76322px;
    margin-bottom: 4px;
}

.trail_rating .trail_rate {
    display: flex;
    align-items: center;
    margin: 32px 0 36px;
}

.trail_rating .trail_rate span {
    font-weight: 800;
    font-size: 58.1407px;
    line-height: 71px;
}

.trail_rating .trail_rate i {
    font-size: 30px;
}

.trail_rating_stat {
    margin-bottom: 25px;
}

.trail_rating_stat p {
    font-size: 29.0703px;
    line-height: 35px;
    line-height: 35px;
    min-width: 200px;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
}

.trail_rating_line {
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.trail_rating_line span {
    position: absolute;
    height: 100%;
    background-color: #2d9cdb;
}

.trail_reviews_title {
    font-weight: 500;
    font-size: 22.263px;
    margin: 25px 0 40px;
}

.trail_reviews_all {
    font-size: 19.4801px;
    text-decoration: underline;
    margin: 25px 0 40px;
}

.trail_review_profile img {
    width: 55px;
    height: 55px;
    margin-right: 16px;
}

.trail_review_content,
.trail_review_profile {
    display: flex;
    align-items: center;
    color: #fff;
}

.trail_review_content h6,
.trail_review_content p {
    font-size: 19.4801px;
}

.trail_review_content p {
    color: rgba(255, 255, 255, 0.5);
}

.trail_review_text {
    font-size: 19.4801px;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.5);
    margin: 22px 0 25px;
}

.trail_page .trail_card_img {
    aspect-ratio: 4/3;
}

.trail_page .trail_card_content {
    padding-left: 0;
}

.trals__table td {
    font-weight: 500;
    font-size: 18px;
    vertical-align: middle;
}

.trals__table tr:nth-child(2n + 1) td {
    background-color: rgba(255, 255, 255, 0.1);
}

.trals__table tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.trals__table tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.trals__table .trail_card_tag {
    font-weight: 700;
}

.trail_page .trail_box_card {
    max-width: 200px;
}

.trail_page .trail_box_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.trail_page .trail_box_text {
    margin-bottom: 0;
}

.trail_story_card_text {
    font-size: 22.95px;
    line-height: 28px;
    margin: 28px 0 8px;
}

/* Blog */

.blog_wrap {
    padding-left: 60px;
}
.blog__title {
    font-weight: 800;
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 16px;
}
.blog_card2 {
    position: relative;
    max-width: 596px;
    max-height: 600px;
    aspect-ratio: 1/1;
    margin-top: auto;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}
.blog_card {
    position: relative;
    max-width: 424px;
    aspect-ratio: 4/5;
}
.blog_card2_content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 25px 20px;
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
.blog_card_content {
    padding: 20px 20px 0;
}
.blog_card_img {
    border-radius: 30px;
}
.blog_card2_title {
    font-size: 60px;
    line-height: 95%;
    margin-bottom: 20px;
}
.blog_carousel .trail_location {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.75);
}
.blog_card_date_tag,
.blog_card_date_tag2 {
    border: 1px solid #fff;
    border-radius: 43px;
    font-weight: 700;
    font-size: 15.0514px;
    line-height: 18px;
    padding: 10px 17px;
    transition: 0.3s;
    cursor: default;
}
.blog_card_date_tag2 {
    color: #8a877d;
    background-color: #fff;
    margin-top: 10px;
}
.blog_card_text {
    font-weight: 500;
    font-size: 22.0992px;
    line-height: 27px;
    margin-top: 24px;
}
.blog_carousel .splide__list .splide__slide:first-child {
    display: flex;
    flex-direction: column;
}
.blog_carousel .splide__arrow {
    width: 100px;
    height: 100px;
    font-size: 36px;
}
.blog_carousel .splide__arrow:disabled {
    opacity: 0;
    pointer-events: none;
}
.blog_carousel .splide__arrow--prev {
    left: 64px;
}
.blog_carousel .splide__arrow--next {
    right: 64px;
}
.blog_wrap .product_card_btn {
    width: 48px;
    height: 48px;
}

/* Blog post */

.trail_gray_text {
    font-size: 18.5634px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 25px;
}
.blog_post_text {
    font-size: 21px;
    line-height: 38px;
}
ul.blog_post_text {
    list-style: initial;
    padding-left: revert;
}
.blog_post_carousel {
    display: flex;
    flex-direction: column;
}
.blog_post_carousel #main-carousel,
.blog_post_carousel .splide__track,
.blog_post_carousel #main-carousel .splide__slide {
    height: 100%;
}
.blog_carousel#main-carousel .splide__arrow--prev {
    left: -50px;
}
.blog_carousel#main-carousel .splide__arrow--next {
    display: none;
}
.blog_post_box {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 16px;
    color: #fff;
}
.blog_post_box h5 {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 0;
}
.blog_post_box p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
}
.blog_product_box {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6.76322px;
    padding: 16px;
}
.blog_post_list_box{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 24px 50px 30px;
}
/* ===========
 Photos Start
=========== */

.card__photos {
    width: 1359px;
    height: 455px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.card__add-btn {
    height: 100%;
    min-width: 252px;
    padding-bottom: 28px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    background: radial-gradient(89.68% 27.58% at 114.88% 43.19%, rgba(46, 210, 224, 1) 0%, rgba(46, 148, 157, 1) 100%);
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.card__add-btn:active {
    opacity: 0.6;
}


.card__add .card__plus {
    position: absolute;
    z-index: 9;
    transform: translateY(-160px);
    -webkit-transform: translateY(-160px);
    -moz-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    -o-transform: translateY(-160px);
}

.card__add-link {
    width: 196px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
    color: #2E949D;
    background: #FFFFFF;
    text-decoration: none;

}

.card__photo-1 {
    width: 252px;
    height: 100%;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 40px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__photo-2 {
    width: 252px;
    height: 100%;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 40px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__photo-3 {
    width: 252px;
    height: 100%;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 40px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__photo-4 {
    width: 252px;
    height: 100%;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 40px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__photo-img {
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    -webkit-border-radius: 40px 40px 0px 0px;
    -moz-border-radius: 40px 40px 0px 0px;
    -ms-border-radius: 40px 40px 0px 0px;
    -o-border-radius: 40px 40px 0px 0px;
}



.card__photo-icon {
    position: relative;
    z-index: 9;
    transform: translateX(120px) translateY(-240px);
    -webkit-transform: translateX(120px) translateY(-240px);
    -moz-transform: translateX(120px) translateY(-240px);
    -ms-transform: translateX(120px) translateY(-240px);
    -o-transform: translateX(120px) translateY(-240px);
    cursor: pointer;
}

.card__photo-title {
    width: 157.37px;
    height: 38.45px;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transform: translateY(-88px) translateX(18px);
    -webkit-transform: translateY(-88px) translateX(18px);
    -moz-transform: translateY(-88px) translateX(18px);
    -ms-transform: translateY(-88px) translateX(18px);
    -o-transform: translateY(-88px) translateX(18px);
    color: #FFFFFF;
}

.ph_width {
    width: 170px;
}

.card__photo-top {
    height: 50%;
}

.card__photo-center {
    width: 100%;
    height: 50%;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card__photo-about {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.card__photo-description1 {
    font-weight: 400;
    font-size: 15px;
}

.card__photo-btn {
    width: 196px;
    height: 48px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #1E88E5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    background: #1E88E5;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.card__photo-btn:active {
    opacity: 0.6;

}

/* ===========
 Photos End
=========== */

/* ===========
 Photos Start
=========== */
.boxs {
    width: 1315px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 2rem;
}

.box1 {
    width: 100%;
    display: flex;
    gap: 35px;
}

.albom {
    width: 235px;
    height: 235px;
    background: #2B313D;
    border-radius: 20px;
    opacity: 0.6;
}

.albom__btn {
    width: 235px;
    height: 235px;
    left: 1287px;
    top: 1308px;
    background: rgba(42, 162, 170, 1);
    border: none;
    opacity: 0.5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.albom__btn:active {
    opacity: 0.6;
}

.albom__img {
    margin-bottom: 31px;
}

.box2 {
    display: flex;
    gap: 35px;
    width: 100%;
}

.box3 {
    display: flex;
    gap: 35px;
    width: 100%;
}

/* ===========
 Photos End
=========== */

/* *===========
 Stats Start
=========== */

.stats-card {
    position: relative;
    padding: 40px 40px 25px 40px;
    width: 100%;
    min-height: 733px;
    background: radial-gradient(48.25% 20.86% at 98.88% 90.47%, #303644 0%, #282D3A 100%);
    border-radius: 10px;
}

.stats-card+.stats-card {
    margin-top: 18px;
}

.stats-cart-top {
    display: flex;
    position: relative;
    gap: 0 26px;
    margin-bottom: 18px;
}

.stats-card-top__btn-wrap {
    position: absolute;
    top: 14px;
    right: 12px;
    gap: 0 7px;
    z-index: 2;
}

.stats-cart-top__btn {
    padding: 14px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
    background: #1E88E5;
    border-radius: 8px;
    transition: all 0.2s ease-in;
}

.stats-cart-top__btn:hover {
    opacity: 0.8;
}

.stats-cart-top__btn:active {
    opacity: 0.6;
}

.stats-cart-top__slider {
    position: relative;
    width: 317px !important;
    height: 317px !important;
    border-radius: 10px !important;
}

.stats-cart-top__slider-item img {
    width: 317px !important;
    height: 317px !important;
    object-fit: cover;
    opacity: 0.6;
}

.stats-cart-top__indicator-wrap {
    /* height: 10px !important; */
}

.stats-cart-top__slider-wrap {
    width: 317px !important;
    height: 317px !important;
    border-radius: 10px !important;
}

.carousel-indicators .active {
    width: 10px !important;
    height: 10px !important;
    /* background: #219653 !important; */
    border-radius: 50% !important;
    background-clip: padding-box;

}

.custom-indicator-btn {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.stats-card-top__left-info-date {
    padding: 14px 37px;
    width: 196px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #313747;
    border-radius: 8px;
}

.stats-card-top__left-box {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 18px;
}

.stats-card-top__left-bold-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.stats-card-top__left-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.02em;
}

.stats-card-top__left-text {
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.stats-card-top__list {
    display: flex;
    list-style: none;
    gap: 0 8px;
}

.stats-card-top__item {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(49, 55, 71, 0.5);
    border-radius: 8px;
}

.stats-card-top__item span {
    font-weight: 700;
    margin-left: 4px;
}

.stats-card-top__easy {
    padding: 7.5px 25px;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #2AA2AA;
    border-radius: 29.1892px;
}

.stats-card-bottom {
    display: flex;
    gap: 0 22px;
    position: relative;
}

.stats-card-bottom__right-btn {
    position: absolute;
    top: -20px;
    right: 7px;
    width: 251px !important;
    height: 45px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 0 !important;
}

.stats-card-bottom__right {
    margin-top: 30px;
}

.stats-card-bottom__left {
    width: 317px;
    height: 317px;
    border-radius: 10px;
}


/* *===========
 Stats End
=========== */

/* *===========
 User Profile Start
=========== */

.user-profile {
    display: flex;
    gap: 0 23px;
}

.user-profile__form {
    gap: 22px 0px;
}

.user-profile__form-inp-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 654px;
}

.user-profile__form-inp-wrap+.user-profile__form-inp-wrap {
    margin-top: 22px;
}

.user-profile__form-inp-wrap:nth-child(5) {
    align-items: start;
}

.user-profile__form-inp-wrap:nth-child(5) .user-profile__form-input {
    height: 129px;
    resize: none;
}

.user-profile__form-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.user-profile__form-input {
    padding: 13px 16px;
    width: 422px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: transparent;
}

.user-profile__form-radios {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 422px;
    gap: 0 38px;
}

.user-profile__form-radios div {
    display: flex;
    align-items: center;
}

.user-profile__form-radio {
    width: 22px;
    height: 22px;
    background-color: transparent;
    margin-right: 8px;
}

.user-profile__form-radios div label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.user-profile__form-select {
    width: 208px;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.user-profile__form-select-wrap {
    display: flex;
    gap: 0 9px;
}

.select-size {
    width: 422px;
}

.select-size2 {
    width: 292px;
}

.user-profile__form-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.user-profile__right {
    width: 465px;
}

.user-profile__avatar-wrap {
    position: relative;
}

.user-profile__img {
    border-radius: 6px;
    opacity: 0.6;
}

.user-profile__right-btn-wrap {
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 128px;
    gap: 0 4px;
}

.user-profile__right-btn-wrap .user-profile__right-btn:nth-child(1) {
    width: 155px;
}

.user-profile__right-btn {
    padding: 14px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
    background: #1E88E5;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.user-profile__right-btn:hover {
    opacity: 0.8;
}

.user-profile__right-btn:active {
    opacity: 0.6;
}
/* *===========
 User Profile End
=========== */

/* *===========
 User Profile Start
=========== */

.reviews {
    width: 1147px;
    background: #212530;
}

.reviews__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 21.5px;
    color: #FFFFFF;

}

.reviews__statistic-title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 51px;
    margin-right: 24px;
    color: #FFFFFF;
}

.reviews__statistic {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.reviews__number-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

.reviews__icon {
    margin-right: 5px;
}

.reviews__rectangle-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.5);

}

.reviews__rectangles {
    display: flex;
    align-items: center;
}


.linen {
    height: 9px;
    width: 403.5px;
    position: relative;
    background: white;
    margin-left: 31px;
    background: #E2E1DD;
    cursor: pointer;
    border-radius: 9px;
}

.linen::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 9px;
    left: 0;
}

.Interesting::before {
    width: 100%;
    background: #E2E1DD;
    cursor: pointer;
}

.Guide::before {
    width: 100%;
    background: #E2E1DD;
    cursor: pointer;
}

.Service::before {
    width: 96%;
    background: #2BA2AA;
    cursor: pointer;
}

.Price::before {
    width: 83%;
    background: #2BA2AA;
    cursor: pointer;
}

.react::before {
    width: 45%;
    background-color: #00D8FF;
    cursor: pointer;
}

.revs__box2 {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.revs__box {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviews__about {
    margin-top: 70.6px;
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.reviews__card {
    width: 100%;
    display: flex;
    background: radial-gradient(40.83% 23.87% at 99.05% 103.53%, #303644 0%, #282D3A 100%);
    border-radius: 10px;
}

.reviews__about-img {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.rev__about-img {
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
}

.rev__img-rating {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    transform: translateX(40px)translateY(-150px);
    -webkit-transform: translateX(40px)translateY(-150px);
    -moz-transform: translateX(40px)translateY(-150px);
    -ms-transform: translateX(40px)translateY(-150px);
    -o-transform: translateX(40px)translateY(-150px);
}

.reviews__about-number {
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 76px;
    color: #FFFFFF;
}

.reviews__about-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 18px;
}

.reviews__content-top {
    height: 48px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #313747;
    font-style: normal;
    transform: translateX(20px)translateY(-25px);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 8px;
    -webkit-transform: translateX(-14px)translateY(-74px);
    -moz-transform: translateX(20px)translateY(-25px);
    -ms-transform: translateX(20px)translateY(-25px);
    -o-transform: translateX(20px)translateY(-25px);
}

.reviews__content-center {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.reviews__camping {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    margin-left: 10px;
    margin-right: 5px;
    color: #FFFFFF;
}

.reviews-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}

.reviews__content-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.rev__content-button {
    display: flex;
}

.reviews__edit {
    width: 123px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 7px;
    color: #FFFFFF;
    background: #1E88E5;
    border-radius: 8px;
    border: none !important;
    cursor: pointer;
}

.reviews__edit:hover {
    transition: .1s ease;
    opacity: 0.8;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.reviews__edit:active {
    opacity: 0.4;
}

.reviews__delete:active {
    opacity: 0.4;
}


.reviews__delete {
    width: 48.31px;
    height: 47.56px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #1E88E5;
    border-radius: 8px;
    border: none !important;
    cursor: pointer;
}

/* *===========
 User Profile End
=========== */
